* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  padding-top: 6px;
}

.header .header-top {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-top .top-left {
  width: 35%;
}

.header .header-top .top-left i {
  padding-right: 15px;
  color: #FFB400;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.header .header-top .top-left i:hover {
  color: white;
  cursor: pointer;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.header .header-top .top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 65%;
}

.header .header-top .top-right P {
  margin-left: 25px;
}

.header .header-top .top-right P a {
  text-decoration: none;
  color: white;
}

#header .header-buttom {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .header-buttom .pajax {
  width: 25%;
}

#header .header-buttom .pajax img {
  width: 60%;
}

#header .header-buttom .navbar-menu {
  width: 50%;
}

#header .header-buttom .navbar-menu ul {
  padding-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .header-buttom .navbar-menu ul li {
  list-style: none;
  color: white;
  font-size: 18px;
}

#header .header-buttom .laung {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#header .header-buttom .laung span {
  color: white;
  font-size: 20px;
}

#header .header-buttom .laung span i {
  font-size: 25px;
  color: #FFB400;
  padding-right: 5px;
}

.manage {
  width: 100%;
  height: 100vh;
  padding-top: 180px;
}

.manage h3 {
  font-size: 19px;
  color: #FFB400;
  margin-bottom: 10px;
}

.manage h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  padding-left: 25px;
  color: white;
  border-left: 4px solid #FFB400;
}

.manage p {
  color: white;
  font-weight: bold;
}

.manage .tax .elit {
  width: 100%;
  height: 100px;
}

.manage .tax .elit button {
  border: none;
  background-color: #FFB400;
  padding: 15px 45px;
  margin-right: 15px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-weight: bold;
  color: white;
}

.manage .tax .elit button:hover {
  background-color: white;
  color: black;
}

.back-img {
  background-image: url(https://www.designesia.com/themes/justica/images/background/5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.practice {
  width: 100%;
  height: 348px;
}

.practice .areas {
  height: 347px;
  background-color: #EAA636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.practice .areas h1 {
  font-size: 1.5rem;
  color: white;
}

.practice .labor {
  height: 347px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 40px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.practice .labor:hover {
  background-color: #eaa5368e;
  color: white;
  cursor: pointer;
}

.practice .labor:hover i, .practice .labor:hover p {
  color: white;
}

.practice .labor i {
  font-size: 2.5rem;
  color: #EAA636;
  margin-bottom: 20px;
}

.practice .labor h1 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.practice .labor p {
  color: #444343;
  margin-bottom: 20px;
}

.practice .labor button {
  padding: 5px 20px;
  border: none;
  background-color: black;
  color: white;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.practice .labor button:hover {
  -webkit-box-shadow: #2e2b2b 0 0 10px;
          box-shadow: #2e2b2b 0 0 10px;
}

.reputation {
  width: 100%;
  height: 415px;
  background-color: #F2F2F2;
  padding-top: 70px;
}

.reputation h3 {
  font-size: 16px;
  color: #EAA636;
  font-weight: bold;
}

.reputation h1 {
  font-weight: bold;
  font-size: 2.3rem;
}

.reputation p {
  color: gray;
}

.section {
  position: relative;
  width: 100%;
  height: 280px;
}

.section .box {
  position: absolute;
  width: 1272px;
  height: 279px;
  margin: auto;
  bottom: 70px;
  left: 110px;
}

.section .box .box1 {
  position: relative;
  background-image: url(https://www.designesia.com/themes/justica/images/services/1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: 0 5px;
}

.section .box .box1:hover .box2 {
  visibility: visible;
  top: 0;
}

.section .box .box1 img {
  width: 100%;
}

.section .box .box1 .box2 {
  position: absolute;
  top: 279px;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  padding: 25px 45px;
  background-color: rgba(0, 0, 0, 0.74);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.section .box .box1 .box2 span {
  color: white;
}

.section .box .box1 .box2 span i {
  color: #EAA636;
  font-size: 2rem;
  margin-right: 15px;
}

.section .box .box1 .box2 button {
  padding: 7px 20px;
  background-color: #EAA636;
  border: none;
  color: white;
}

.section .box .box1 .box2 p {
  margin-bottom: 20px;
  color: white;
  margin-top: 20px;
}

.section .box3 {
  position: relative;
  background-image: url(https://www.designesia.com/themes/justica/images/services/2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: 0 5px;
}

.section .box3:hover .box2 {
  visibility: visible;
  top: 0;
}

.section .box3 img {
  width: 100%;
}

.section .box3 .box2 {
  position: absolute;
  top: 279px;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  padding: 25px 45px;
  background-color: rgba(0, 0, 0, 0.74);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.section .box3 .box2 span {
  color: white;
}

.section .box3 .box2 span i {
  color: #EAA636;
  font-size: 2rem;
  margin-right: 15px;
}

.section .box3 .box2 button {
  padding: 7px 20px;
  background-color: #EAA636;
  border: none;
  color: white;
}

.section .box3 .box2 p {
  margin-bottom: 20px;
  color: white;
  margin-top: 20px;
}

.section .box4 {
  position: relative;
  background-image: url(https://www.designesia.com/themes/justica/images/services/3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: 0 5px;
}

.section .box4:hover .box2 {
  visibility: visible;
  top: 0;
}

.section .box4 img {
  width: 100%;
}

.section .box4 .box2 {
  position: absolute;
  top: 279px;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  padding: 25px 45px;
  background-color: rgba(0, 0, 0, 0.74);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.section .box4 .box2 span {
  color: white;
}

.section .box4 .box2 span i {
  color: #EAA636;
  font-size: 2rem;
  margin-right: 15px;
}

.section .box4 .box2 button {
  padding: 7px 20px;
  background-color: #EAA636;
  border: none;
  color: white;
}

.section .box4 .box2 p {
  margin-bottom: 20px;
  color: white;
  margin-top: 20px;
}

.expierence {
  width: 100%;
  height: 584px;
  background-color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.expierence .exp-img img {
  width: 77%;
  overflow: hidden;
}

.expierence .guide {
  margin: 140px 0;
}

.expierence .guide h4 {
  color: #EAA636;
  font-size: 17px;
}

.expierence .guide h1 {
  font-weight: bold;
  margin-bottom: 25px;
}

.expierence .guide button {
  padding: 7px 19px;
  border: none;
  background-color: #EAA636;
  color: white;
  margin-bottom: 30px;
  margin-right: 15px;
}

.expierence .guide a {
  text-decoration: none;
  color: #EAA636;
  margin-right: 15px;
}

.areas {
  height: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.areas h1 {
  font-weight: bold;
  font-size: 2.2rem;
}

.areas .border-div {
  height: 2px;
  width: 8%;
  background-color: #EAA636;
  margin: 20px auto;
}

.areas p {
  color: gray;
}

.areas .spans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.areas .spans span {
  color: black;
  margin-bottom: 10px;
}

.areas .spans span i {
  font-size: 20px;
  margin-right: 10px;
}

.areas .practice {
  height: 250px;
  text-align: center;
}

.facts {
  background-image: url(https://www.designesia.com/themes/justica/images/background/2-bw.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 419px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.facts .box1 {
  width: 1040px;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.facts .box1 .we-did {
  margin-right: 70px;
}

.facts .box1 .we-did h4 {
  font-size: 17px;
  color: #EAA636;
}

.facts .box1 .we-did h1 {
  font-weight: bold;
  font-size: 2.2rem;
  color: white;
}

.facts .box2 {
  width: 1040px;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.facts .box2 .we-did {
  margin-right: 15px;
}

.facts .box2 .we-did h4 {
  font-size: 17px;
  color: #EAA636;
}

.facts .box2 .we-did h1 {
  font-weight: bold;
  font-size: 2.2rem;
  color: white;
}

.facts .box2 .we-did p {
  color: #e0e0e0;
}

.team {
  width: 100%;
  height: 70vh;
  padding: 70px 0;
}

.team .t-center {
  text-align: center;
  margin-bottom: 45px;
}

.team .box {
  margin: auto;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.team .box img {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  width: 100%;
}

.team .box img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.team .box .box1 {
  position: absolute;
  top: 200px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.team .box .box1 .icon-div {
  width: 30%;
  margin: auto;
}

.team .box .box1 .icon-div i {
  color: #EAA636;
}

.team .box .box1 h1 {
  font-size: 1.5rem;
  color: white;
}

.team .box .box1 p {
  color: white;
}

.testimonial {
  width: 100%;
  height: 70vh;
  background-image: url(https://www.designesia.com/themes/justica/images/background/3-bw.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 0;
}

.testimonial .list {
  width: 15%;
  text-align: center;
  margin: auto;
}

.testimonial .list h1 {
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
  border-bottom: 2px solid #EAA636;
  margin-bottom: 30px;
}

.testimonial .lawyer {
  padding: 20px 50px;
  border-radius: 6px;
  background-color: white;
  margin: auto;
}

.testimonial .lawyer i {
  font-size: 2.5rem;
  color: #EAA636;
  margin-bottom: 15px;
}

.testimonial .lawyer h1 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-weight: bold;
}

.testimonial .lawyer p {
  color: #413d3d;
  margin-bottom: 15px;
}

.testimonial .lawyer span {
  color: #EAA636;
}

.footer-top {
  padding: 70px;
  width: 100%;
  height: 375px;
  background-color: #111111;
}

.footer-top .justic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-top .justic img {
  margin-bottom: 20px;
  width: 80%;
}

.footer-top .justic span {
  color: white;
  margin-bottom: 15px;
}

.footer-top .justic span i {
  color: #EAA636;
  margin-right: 15px;
}

.footer-top .practic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-top .practic h1 {
  font-size: 1rem;
  font-weight: bold;
  color: #EAA636;
  margin-bottom: 30px;
}

.footer-top .practic span {
  color: white;
  margin-bottom: 15px;
}

.footer-top .practic span i {
  color: #EAA636;
  margin-right: 15px;
}

.footer-top .newsletter h1 {
  font-size: 1rem;
  color: #EAA636;
  margin-bottom: 25px;
}

.footer-top .newsletter p {
  margin-bottom: 20px;
  color: #dddddd;
}

.footer-top .newsletter input {
  background-color: rgba(41, 41, 41, 0.411);
  border: none;
  padding-right: 30px;
  padding-left: 20px;
  border-radius: 3px;
  font-size: 20px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.footer-top .newsletter input:focus {
  background-color: white;
  color: black;
  outline: none;
}

.footer-top .newsletter button {
  padding: 0 10px;
  background-color: #EAA636;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 3px;
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */